chardet==3.0.4
cython==0.27.3
future==0.16.0
matplotlib==2.0.2
nltk==3.4.5
numpy>=1.12.1
progressbar2==3.35.2
py4j==0.10.6
scikit_learn>=0.19.1
scipy>=0.19.0
sortedcontainers==1.5.7
translate==3.5.0
Unidecode==1.0.22

backports.tempfile==1.0; python_version=='2.7' 
numpy>=1.14.3; python_version=='3.7'
